@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my board game handler app</h1>

    <div id="app">
        {{message}}
    </div>
</div>

<script src="~/lib/vue/dist/vue.js"></script>
<script src="~/lib/axios/dist/axios.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'It works'
        }
    })
</script>